<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target -->
    <target xsi:type="File" name="allfile"
            fileName="Logs/worker-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}"
            archiveFileName="Logs/worker-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30" />

    <!-- Console Target -->
    <target xsi:type="Console" name="console"
            layout="${longdate} [${uppercase:${level}}] ${logger}: ${message} ${exception:format=tostring}" />

    <!-- Console Target for lifecycle messages -->
    <target xsi:type="Console" name="lifetimeConsole"
            layout="${MicrosoftConsoleLayout}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />
    
    <!-- Skip non-critical Microsoft logs -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    
    <!--All logs to console-->
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>