<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="estacion" connectionString="Server=LAGACELA-EDS\SQLEXPRESS;Database=Ventas; User Id=sa;Password=Sa123456789; Connect Timeout=180;" />
		<add name="Facturacion" connectionString="Server=LAGACELA-EDS\SQLEXPRESS;Database=Facturacion_Electronica; User Id=sa;Password=Sa123456789; Connect Timeout=180;" />
	</connectionStrings>
	<appSettings>
		<add key="EnvioASilog" value="true" />
		<add key="UrlSilog" value="https://silogcotaxierp.serviciosproductivos.com.co/api/inventario/factura.php" />
		<add key="EnvioAProsoft" value="false" />
		<add key="UrlProsoft" value="url prosoft" />
		<add key="EnvioInformacion" value="true" />
		<add key="url" value="https://cotaxi.api.sigessoluciones.com" />
		<add key="user" value="890200218" />
		<add key="password" value="0218" />
		<add key="estacionFuente" value="61ca7e1e-bfca-42ba-a58d-f71cbf7f1af2" />
		<add key="CaracteresPorPagina" value="40" />
		<add key="ImpresionPDA" value="false" />
		<add key="Direccion" value="Calle 17 #19-62 S. Francisco B/manga" />
		<add key="Linea1" value="Impreso Por: COTAXI" />
		<add key="Linea2" value="RESPONSABLE DE IVA" />
		<add key="Linea3" value="" />
		<add key="Linea4" value="" />
		<add key="NIT" value="890200218" />
		<add key="Nombre" value="EDS LA GACELA" />
		<add key="Razon" value="COTAXI" />
		<add key="Telefono" value="Tel.: 6076712367" />
		<add key="vecesPermitidasImpresion" value="1" />
		<add key="ImpresionAutomatica" value="false" />
		<add key="impresionFormaDePagoOrdenDespacho" value="true" />
		<add key="CARA 1" value="POS1" />
		<add key="CARA 2" value="POS1" />
		<add key="CARA 3" value="POS1" />
		<add key="CARA 4" value="POS1" />
		<add key="CARA 5" value="POS2" />
		<add key="CARA 6" value="POS2" />
		<add key="CARA 7" value="POS2" />
		<add key="CARA 8" value="POS2" />
		<add key="CARA 9" value="POS3" />
		<add key="CARA 10" value="POS3" />
		<add key="CARA 11" value="POS3" />
		<add key="CARA 12" value="POS3" />
		<add key="IMPRESORA" value="POS2" />
		<add key="IMPRESORACanastilla" value="POS2" />
		<add key="codigoefectivo" value="1" />
		<add key="codigocredito" value="3" />
		<add key="codigocorriente" value="11GASOLINA" />
		<add key="codigoacpm" value="12ACPM" />
		<add key="codigoextra" value="300" />
		<add key="codigogas" value="400" />
		<add key="EnviarFacturasEfevtivo" value="true" />
		<add key="GeneraFacturaElectronica" value="true" />
		<add key="ValidarMillonesEnFactura" value="true" />
		<add key="ArchivoMovimientoContable" value="C:\Users\EDS LA GACELA\Downloads\\" />
		<add key="vecesImpresionCanastilla" value="2" />
		<add key="Visa" value="1" />
		<add key="MasterCard" value="9" />
		<add key="Dinners" value="2" />
		<add key="Amex" value="14" />
		<add key="Puntos Colombia" value="15" />
		<add key="Sodexo Quantum" value="16" />
		<add key="Vales" value="17" />
		<add key="Bonos Sodexo" value="18" />
		<add key="Consumo Interno" value="21" />
		<add key="Prepago" value="21" />
		<add key="Calibracion" value="21" />
		<add key="codigovoucher" value="2" />
		<add key="vendedor" value="900522263" />
		<add key="documentofactura" value="FEY" />
		<add key="documentorecibo" value="RSJ" />
		<add key="centrooperaciones" value="099" />
		<add key="movimiento" value="102" />
		<add key="centrocosto" value="" />
		<add key="unidadnegocio" value="99" />
		<add key="centrooperacionescxc" value="099" />
		<add key="movimientocxc" value="102" />
		<add key="centrocostocxc" value="" />
		<add key="unidadnegociocxc" value="99" />
		<add key="centrooperacionescaja" value="102" />
		<add key="movimientocaja" value="" />
		<add key="centrocostocaja" value="" />
		<add key="unidadnegociocaja" value="102" />
		<add key="caja" value="003" />
		<add key="auxiliarcaja" value="" />
		<add key="centrooperacionescontableotros" value="102" />
		<add key="movimientocontableotros" value="102" />
		<add key="unidadnegociocontableotros" value="99" />
		<add key="centrocostocontableotros" value="" />
		<add key="centrooperacionesotros" value="102" />
		<add key="movimientootros" value="102" />
		<add key="unidadnegociootros" value="99" />
		<add key="idfeotros" value="1102" />
		<add key="centrocostootros" value="" />
		<add key="cajaotros" value="102" />
		
		<add key="centrooperacionescontabledescuento" value="102" />
		<add key="movimientocontabledescuento" value="102" />
		<add key="unidadnegociocontabledescuento" value="99" />
		<add key="centrocostocontabledescuento" value="" />
		<add key="centrooperacionesdescuento" value="102" />
		<add key="movimientodescuento" value="102" />
		<add key="unidadnegociodescuento" value="99" />
		<add key="idfedescuento" value="1102" />
		<add key="centrocostodescuento" value="" />
		<add key="cajadescuento" value="102" />
		<add key="auxiliardescuento" value="58904001" />
		<add key="dataico_token" value="7be2a493120e4c1cee67dbd8f424a39d" />
		<add key="FechaMinimaEnvioSiesa" value="2026-01-01 00:00:00" />
		<add key="FechaMaximaEnvioSiesa" value="2026-01-31 00:00:00" />

		<add key="auxiliardescuento_{codigoFormaPago}_{combustibleKey}" value="58904001" />
		



		<add key="documentocruce" value="123852" />
		<add key="consecutivoautoregulado" value="1" />
		<add key="centrooperacionesdocuemnto" value="102" />
		<add key="idfe" value="15224" />
		<add key="sucursal" value="001" />
		<add key="urlsiesa" value="https://servicios.siesacloud.com" />
		<add key="idsistema" value="179" />
		<add key="idcompania" value="8922" />
		<add key="iddocumento" value="206116" />
		<add key="Rifa" value="true" />
		<add key="MontoMinimoRifa" value="15000" />
		<add key="iddocumentocliente" value="203976" />
		
		<!-- Configuración Canastilla Con IVA -->
		<add key="documentocrucecanastillaconiva" value="123852" />
		<add key="consecutivoautoreguladocanastillaconiva" value="1" />
		<add key="centrooperacionesdocuemntocanastillaconiva" value="102" />
		<add key="idfecanastillaconiva" value="15224" />
		<add key="sucursalcanastillaconiva" value="001" />
		<add key="iddocumentocanastillaconiva" value="206116" />
		<add key="iddocumentoclientecanastillaconiva" value="203976" />
		
		<!-- Configuración Canastilla Sin IVA -->
		<add key="documentocrucecanastillasiniva" value="123852" />
		<add key="consecutivoautoreguladocanastillasiniva" value="1" />
		<add key="centrooperacionesdocuemntocanastillasiniva" value="102" />
		<add key="idfecanastillasiniva" value="15224" />
		<add key="sucursalcanastillasiniva" value="001" />
		<add key="iddocumentocanastillasiniva" value="206116" />
		<add key="iddocumentoclientecanastillasiniva" value="203976" />
		
		<!-- Auxiliares Contables para Canastilla -->
		<add key="auxiliarcanastillaconiva" value="41359501" />
		<add key="auxiliarcanastillasiniva" value="41359502" />
		<add key="key" value="cea9b2d24cd71a9b317caa64a4c2c10f" />
		<add key="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6ImMzZTk1MmE3LTVjOTQtNDIxMi04ZTE2LTMwOWQ5N2MzMDcwZCIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcHJpbWFyeXNpZCI6ImIyMjlhNzA2LWU1Y2MtNDA3OC1iYTk1LWFlNGU5YTkzZTQ4MyJ9.9C758Omq97l9EOtG6jVRIk_V0Vx3sxAqBamGHKVtuNU" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
