<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<connectionStrings>
		<add name="estacion" connectionString="Server=SNJOSELIQ\SQLEXPRESS;Database=Ventas; User Id=sa;Password=901521846; Connect Timeout=180;" />
		<add name="Facturacion" connectionString="Server=SNJOSELIQ\SQLEXPRESS;Database=Facturacion_Electronica; User Id=sa;Password=901521846; Connect Timeout=180;" />
	</connectionStrings>
	<appSettings>
		<add key="centrooperacionescaja" value="102" />
		<add key="movimientocaja" value="102" />
		<add key="centrocostocaja" value="" />
		<add key="unidadnegociocaja" value="" />
		<add key="caja" value="102" />
		<add key="vendedor" value="900522263" />
		<add key="documentofactura" value="FEY" />
		<add key="documentorecibo" value="RSJ" />
		<add key="centrooperaciones" value="102" />
		<add key="movimiento" value="102" />
		<add key="centrocosto" value="" />
		<add key="unidadnegocio" value="03" />
		<add key="centrooperacionescxc" value="102" />
		<add key="movimientocxc" value="102" />
		<add key="centrocostocxc" value="" />
		<add key="unidadnegociocxc" value="99" />
		<add key="documentocruce" value="123852" />
		<add key="consecutivoautoregulado" value="0" />
		<add key="centrooperacionesdocuemnto" value="102" />
		<add key="sucursal" value="001" />
		<add key="urlsiesa" value="https://servicios.siesacloud.com" />
		<add key="idsistema" value="179" />
		<add key="idfe" value="1102" />
		<add key="centrooperacionescontableotros" value="102" />
		<add key="movimientocontableotros" value="102" />
		<add key="unidadnegociocontableotros" value="03" />
		<add key="centrocostocontableotros" value="" />
		<add key="centrooperacionesotros" value="102" />
		<add key="movimientootros" value="099" />
		<add key="unidadnegociootros" value="" />
		<add key="idfeotros" value="1102" />
		<add key="cajaotros" value="102" />
		<add key="dataico_token" value="7be2a493120e4c1cee67dbd8f424a39d" />
		<add key="centrocostootros" value="" />
                <add key="auxiliardescuento_4_CORRIENTE" value="42950205" />
                <add key="auxiliardescuento_1_CORRIENTE" value="42950205" />
                <add key="auxiliardescuento_7_CORRIENTE" value="42950205" />
                <add key="auxiliardescuento_4_DIESEL" value="42950205" />
                <add key="auxiliardescuento_1_DIESEL" value="42950205" />
                <add key="auxiliardescuento_7_DIESEL" value="42950205" />
		<add key="idcompania" value="8922" />
		<add key="iddocumento" value="206116" />
		<add key="iddocumentocliente" value="204387" />
		<add key="key" value="d8eb35e39daf2ce8890611fcfc5aad91" />
		<add key="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6ImI2YzNlZjRhLWMyNmItNDE4ZS05MmEyLTYxZTQyZGE3MDBlOCIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcHJpbWFyeXNpZCI6ImJiMmU1ZDc4LTMwOWItNGNjNC04YmEwLTUxNTVkM2NkMGM4YiJ9.6JhUrZq9CY3k9NuHGQG6WEDGIE8hQOSsNNjb71kSV9g" />
 		<add key="MultiplicarPor10" value="false"/>
		<add key="EnvioASilog" value="true"/>
		<add key="FechaMinimaEnvioSiesa" value="2026-03-01 00:00:00" />
		<add key="FechaMaximaEnvioSiesa" value="2026-04-01 00:00:00" />
		<add key="UrlSilog" value="https://silogcotaxierp.serviciosproductivos.com.co/api/inventario/factura.php"/>
		<add key="EnvioAProsoft" value="false"/>
		<add key="UrlProsoft" value="url prosoft"/>
		<add key="EnvioInformacion" value="true"/>
		<add key="url" value="https://yavegas.api.sigessoluciones.com"/>
		<add key="user" value="900522263"/>
		<add key="password" value="22633"/>
		<add key="estacionFuente" value="fc65dbd2-118a-43a7-ab7a-4f6afe6fd94d"/>
		<add key="CaracteresPorPagina" value="40"/>
		<add key="ImpresionPDA" value="false"/>
		<add key="Direccion" value="Carrera 20H No 14B 182 CENCAR - YUMBO"/>
		<add key="Linea1" value="Impreso Por: YAVEGAS S.A. E.S.P"/>
		<add key="Linea2" value="RESPONSABLE DE IVA"/>
		<add key="Linea3" value=""/>
		<add key="Linea4" value=""/>
		<add key="NIT" value="900.522.263-5"/>
		<add key="Nombre" value="EDS SN JOSE LIQUIDOS"/>
		<add key="Razon" value="YAVEGAS S.A. E.S.P"/>
		<add key="Telefono" value="Tel.: 3012893565"/>
		<add key="vecesPermitidasImpresion" value="1"/>
		<add key="ImpresionAutomatica" value="false"/>
		<add key="impresionFormaDePagoOrdenDespacho" value="true"/>
		<add key="CARA 1" value="POS 1" />
    		<add key="CARA 2" value="POS 1" />
    		<add key="CARA 3" value="POS 2" />
    		<add key="CARA 4" value="POS 2" />
		<add key="IMPRESORA" value="POS 1"/>
		<add key="IMPRESORACanastilla" value="POS 1"/>
		<add key="codigoefectivo" value="1"/>
		<add key="formaspagocaja" value="4"/>
		<add key="codigocredito" value="3"/>
		<add key="codigocorriente" value="11GASOLINA"/>
		<add key="codigoacpm" value="12ACPM"/>
		<add key="codigoextra" value="300"/>
		<add key="codigogas" value="400"/>
		<add key="EnviarFacturasEfevtivo" value="true"/>
		<add key="GeneraFacturaElectronica" value="true"/>
		<add key="ValidarMillonesEnFactura" value="true"/>
		<add key="ArchivoMovimientoContable" value="C:\Users\EDS LA GACELA\Downloads\\"/>
		<add key="vecesImpresionCanastilla" value="2"/>
		<add key="Visa" value="1"/>
		<add key="MasterCard" value="9"/>
		<add key="Dinners" value="2"/>
		<add key="Amex" value="14"/>
		<add key="Puntos Colombia" value="15"/>
		<add key="Sodexo Quantum" value="16"/>
		<add key="Vales" value="17"/>
		<add key="Bonos Sodexo" value="18"/>
		<add key="Consumo Interno" value="21"/>
		<add key="Prepago" value="21"/>
		<add key="Calibracion" value="21"/>
		<add key="codigovoucher" value="2"/>
	</appSettings>
</configuration>
