@font-face {
    font-family: 'orkneyBold'; /* Nombre que asignarás a la fuente */
    src: url('fonts/orkney-bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'orkneyLigth'; /* Nombre que asignarás a la fuente */
    src: url('fonts/orkney-light.otf') format('opentype');
  }
  @font-face {
    font-family: 'orkneyMedium'; /* Nombre que asignarás a la fuente */
    src: url('fonts/orkney-medium.otf') format('opentype');
  }
  @font-face {
    font-family: 'orkneyRegular'; /* Nombre que asignarás a la fuente */
    src: url('fonts/orkney-regular.otf') format('opentype');
  }

.navbar{
  margin: 25px 25px 0 25px;
  font-family: 'orkneyBold';
  font-size: 120%;

}

.menu {
    display: flex;
    list-style-type: none;
    margin: 25px 25px 0 25px;
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    width: 60%;
    height: 50px;
    font-family: 'orkneyBold';
    font-size: 120%;
    background: #0C80EA;
    border-bottom-right-radius: 20px;
  }
  
  .item-active {
    color: white;
    border-width: 5px !important;
    background-color: #0C80EA;
    border-color: #0C80EA #0C80EA #0C80EA #0C80EA !important;
  }
  
  .item-active:hover {
    color: white;
  }

  .item-active:focus {
    color: white !important;
  }

  .item-no-active {
    color: white !important;
    border-color: transparent !important;
  }

  .item-no-active:hover {
    color: white !important;
  }

  .item-no-active:visited {
    color: white !important;
  }

 .icono-third {
    /* border-bottom: 3px solid #7CC5FC; */
  }
  .menu-item:last-child{
    border-bottom: none;

  }
  .links{
    display: block;
    padding: 0.6rem 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 768px){
  
  .navbar{
    margin: 0 25px 0 25px;
    font-size: 100%;
    padding-top: 0%;
  }

  .item-active {
    padding: 1px 16px;
  }
  
  .item-no-active {
    padding: 5px 16px 1px 16px;
  }

}