-- ============================================================
-- CONFIGURE HERE: set the name for the new station database
-- Run this script in SSMS with SQLCMD Mode ON (Query menu -> SQLCMD Mode)
-- ============================================================
:setvar DbName    "yavegas"
:setvar DataPath  "C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA"
-- ============================================================

USE [master]
GO
/****** Object:  Database [$(DbName)]    Script Date: 20/03/2026 1:47:46 p. m. ******/
CREATE DATABASE [$(DbName)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sigessol_$(DbName)_data', FILENAME = N'$(DataPath)\$(DbName)_data.mdf' , SIZE = 401408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sigessol_$(DbName)_log', FILENAME = N'$(DataPath)\$(DbName)_log.ldf' , SIZE = 409600KB , MAXSIZE = 2048GB , FILEGROWTH = 51200KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [$(DbName)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [$(DbName)]
GO
/****** Object:  User [sigesuser]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE USER [sigesuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [sigesso1_test]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE USER [sigesso1_test] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[sigesso1_test]
GO
/****** Object:  User [sigesso1_sigesso1]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE USER [sigesso1_sigesso1] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[sigesso1_sigesso1]
GO
/****** Object:  User [admin]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sigesso1_test]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [sigesso1_test]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sigesso1_test]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sigesso1_test]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [sigesso1_sigesso1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [sigesso1_sigesso1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [sigesso1_sigesso1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [sigesso1_sigesso1]
GO
/****** Object:  Schema [admin]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE SCHEMA [admin]
GO
/****** Object:  Schema [sigesso1_sigesso1]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE SCHEMA [sigesso1_sigesso1]
GO
/****** Object:  Schema [sigesso1_test]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE SCHEMA [sigesso1_test]
GO
/****** Object:  UserDefinedTableType [dbo].[CanastillaType]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[CanastillaType] AS TABLE(
	[CanastillaId] [int] NULL,
	[Guid] [uniqueidentifier] NULL,
	[descripcion] [varchar](50) NOT NULL,
	[unidad] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[deleted] [bit] NOT NULL DEFAULT ((0)),
	[iva] [int] NOT NULL DEFAULT ((0)),
	[campoextra] [varchar](50) NULL,
	[estacion] [uniqueidentifier] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Entity]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[Entity] AS TABLE(
	[Guid] [uniqueidentifier] NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EntityTableType]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[EntityTableType] AS TABLE(
	[Guid] [uniqueidentifier] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EstacionType]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[EstacionType] AS TABLE(
	[Guid] [uniqueidentifier] NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[linea1] [nvarchar](250) NULL,
	[linea2] [nvarchar](250) NULL,
	[linea3] [nvarchar](250) NULL,
	[linea4] [nvarchar](250) NULL,
	[Nit] [nvarchar](250) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Razon] [nvarchar](250) NOT NULL,
	[Telefono] [nvarchar](250) NOT NULL,
	[EsGas] [bit] NOT NULL,
	UNIQUE NONCLUSTERED 
(
	[Nit] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  UserDefinedTableType [dbo].[ResolucionType]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[ResolucionType] AS TABLE(
	[ConsecutivoInicial] [int] NOT NULL,
	[ConsecutivoFinal] [int] NOT NULL,
	[FechaInicial] [datetime] NOT NULL,
	[FechaFinal] [datetime] NOT NULL,
	[IdEstado] [uniqueidentifier] NULL,
	[ConsecutivoActual] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[IdEstacion] [uniqueidentifier] NULL,
	[Autorizacion] [varchar](50) NULL,
	[Habilitada] [bit] NULL,
	[Descripcion] [varchar](50) NULL,
	[tipo] [int] NOT NULL DEFAULT ((0))
)
GO
/****** Object:  UserDefinedTableType [dbo].[TerceroType]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[TerceroType] AS TABLE(
	[Id] [int] NULL,
	[Guid] [uniqueidentifier] NULL,
	[Nombre] [nvarchar](250) NULL,
	[Segundo] [nvarchar](250) NULL,
	[Apellidos] [nvarchar](250) NULL,
	[Municipio] [nvarchar](250) NULL,
	[Departamento] [nvarchar](250) NULL,
	[Direccion] [nvarchar](250) NULL,
	[TipoPersona] [int] NULL,
	[ResponsabilidadTributaria] [int] NULL,
	[Pais] [nvarchar](250) NULL,
	[CodigoPostal] [nvarchar](250) NULL,
	[Celular] [nvarchar](250) NULL,
	[Telefono] [nvarchar](250) NULL,
	[Telefono2] [nvarchar](250) NULL,
	[Correo] [nvarchar](250) NULL,
	[Correo2] [nvarchar](250) NULL,
	[Vendedor] [nvarchar](250) NULL,
	[Comentarios] [nvarchar](500) NULL,
	[TipoIdentificacion] [int] NULL,
	[Identificacion] [nvarchar](250) NULL,
	[DescripcionTipoIdentificacion] [nvarchar](200) NULL,
	[IdLocal] [int] NULL,
	[IdContable] [int] NULL,
	[idFacturacion] [varchar](250) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[UsuarioType]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE TYPE [dbo].[UsuarioType] AS TABLE(
	[Guid] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](max) NOT NULL
)
GO
/****** Object:  Table [admin].[Usuario]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [admin].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canastilla]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canastilla](
	[CanastillaId] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NULL,
	[descripcion] [varchar](50) NOT NULL,
	[unidad] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[deleted] [bit] NOT NULL,
	[iva] [int] NOT NULL,
	[campoextra] [varchar](50) NULL,
	[estacion] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CanastillaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combustible]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combustible](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CombustiblesEstacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CombustiblesEstacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEstacion] [int] NOT NULL,
	[Combustible] [nvarchar](100) NOT NULL,
	[Precio] [decimal](18, 3) NOT NULL,
	[EsGas] [bit] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CombustiblesEstacion_IdEstacion_Combustible] UNIQUE NONCLUSTERED 
(
	[IdEstacion] ASC,
	[Combustible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estaciones]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[linea1] [nvarchar](250) NULL,
	[linea2] [nvarchar](250) NULL,
	[linea3] [nvarchar](250) NULL,
	[linea4] [nvarchar](250) NULL,
	[Nit] [nvarchar](250) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Razon] [nvarchar](250) NOT NULL,
	[Telefono] [nvarchar](250) NOT NULL,
	[IdEstadoActual] [int] NOT NULL,
	[EsGas] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Texto] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturaelectronica]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturaelectronica](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[prefijo] [nvarchar](50) NULL,
	[resolucion] [nvarchar](50) NULL,
	[numeroActual] [int] NULL,
	[Estacion] [uniqueidentifier] NULL,
	[correo] [nvarchar](50) NULL,
	[token] [nvarchar](50) NULL,
	[idNumeracion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaDePago]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaDePago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdTerceroActualizado]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdTerceroActualizado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTerceroLocalActualizado] [int] NULL,
	[IdEstacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mangueras]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mangueras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Manguera] [nvarchar](50) NULL,
	[Cara] [nvarchar](50) NULL,
	[Surtidor] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetoImprimir]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetoImprimir](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdObjeto] [int] NULL,
	[Tipo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resolucion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resolucion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ConsecutivoInicial] [int] NOT NULL,
	[ConsecutivoFinal] [int] NOT NULL,
	[FechaInicial] [datetime] NOT NULL,
	[FechaFinal] [datetime] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[ConsecutivoActual] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdEstacion] [int] NULL,
	[Autorizacion] [varchar](50) NULL,
	[Habilitada] [bit] NULL,
	[Descripcion] [varchar](50) NULL,
	[Razon] [nvarchar](250) NULL,
	[Nit] [nvarchar](250) NULL,
	[tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terceros]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terceros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
	[Telefono] [nvarchar](250) NOT NULL,
	[Correo] [nvarchar](250) NOT NULL,
	[TipoIdentificacion] [int] NOT NULL,
	[Identificacion] [nvarchar](250) NOT NULL,
	[IdLocal] [int] NULL,
	[Segundo] [nvarchar](250) NOT NULL,
	[Apellidos] [nvarchar](250) NOT NULL,
	[TipoPersona] [int] NULL,
	[ResponsabilidadTributaria] [int] NULL,
	[Municipio] [nvarchar](250) NOT NULL,
	[Departamento] [nvarchar](250) NOT NULL,
	[Pais] [nvarchar](250) NULL,
	[CodigoPostal] [nvarchar](250) NULL,
	[Celular] [nvarchar](250) NULL,
	[Telefono2] [nvarchar](250) NULL,
	[Correo2] [nvarchar](250) NULL,
	[Vendedor] [nvarchar](250) NULL,
	[Comentarios] [nvarchar](500) NULL,
	[idFacturacion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoIdentificacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoIdentificacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Texto] [nvarchar](200) NOT NULL,
	[CodigoDian] [int] NULL,
	[CodigoExterno] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Cedula] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [tercerosidentificacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
CREATE NONCLUSTERED INDEX [tercerosidentificacion] ON [dbo].[Terceros]
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Canastilla] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[Canastilla] ADD  DEFAULT ((0)) FOR [iva]
GO
ALTER TABLE [dbo].[CombustiblesEstacion] ADD  CONSTRAINT [DF_CombustiblesEstacion_EsGas]  DEFAULT ((0)) FOR [EsGas]
GO
ALTER TABLE [dbo].[CombustiblesEstacion] ADD  CONSTRAINT [DF_CombustiblesEstacion_FechaActualizacion]  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Estaciones] ADD  CONSTRAINT [DF_Estaciones_EsGas]  DEFAULT ((0)) FOR [EsGas]
GO
ALTER TABLE [dbo].[Resolucion] ADD  DEFAULT ((0)) FOR [tipo]
GO
ALTER TABLE [dbo].[Terceros] ADD  DEFAULT ('No') FOR [Segundo]
GO
ALTER TABLE [dbo].[Terceros] ADD  DEFAULT ('No') FOR [Apellidos]
GO
ALTER TABLE [dbo].[Terceros] ADD  DEFAULT ((0)) FOR [TipoPersona]
GO
ALTER TABLE [dbo].[Terceros] ADD  DEFAULT ((0)) FOR [ResponsabilidadTributaria]
GO
ALTER TABLE [dbo].[Terceros] ADD  DEFAULT ('No') FOR [Municipio]
GO
ALTER TABLE [dbo].[Terceros] ADD  DEFAULT ('No') FOR [Departamento]
GO
ALTER TABLE [dbo].[CombustiblesEstacion]  WITH CHECK ADD  CONSTRAINT [FK_CombustiblesEstacion_Estaciones] FOREIGN KEY([IdEstacion])
REFERENCES [dbo].[Estaciones] ([Id])
GO
ALTER TABLE [dbo].[CombustiblesEstacion] CHECK CONSTRAINT [FK_CombustiblesEstacion_Estaciones]
GO
ALTER TABLE [dbo].[Estaciones]  WITH CHECK ADD  CONSTRAINT [FK_Estaciones_ToTable] FOREIGN KEY([IdEstadoActual])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Estaciones] CHECK CONSTRAINT [FK_Estaciones_ToTable]
GO
ALTER TABLE [dbo].[Resolucion]  WITH CHECK ADD  CONSTRAINT [FK_Resolucion_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Resolucion] CHECK CONSTRAINT [FK_Resolucion_Estados]
GO
ALTER TABLE [dbo].[Terceros]  WITH CHECK ADD  CONSTRAINT [FK_Terceros_TipoIdentificacion] FOREIGN KEY([TipoIdentificacion])
REFERENCES [dbo].[TipoIdentificacion] ([Id])
GO
ALTER TABLE [dbo].[Terceros] CHECK CONSTRAINT [FK_Terceros_TipoIdentificacion]
GO
/****** Object:  StoredProcedure [dbo].[AddNuevaResolucion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNuevaResolucion]
	@Resoluciones [dbo].[ResolucionType] READONLY
AS
BEGIN
	DECLARE @idEstadoAnulada INT, @idEstadoActivo INT, @idEstacion INT, @estacion UNIQUEIDENTIFIER
	
	SELECT @idEstadoAnulada = Estados.Id FROM Estados WHERE Texto = 'Anulada'
	SELECT @idEstadoActivo = Estados.Id FROM Estados WHERE Texto = 'Activo'

	UPDATE Resolucion SET IdEstado = @idEstadoAnulada
	From Resolucion
	JOIN Estaciones
		ON Estaciones.Id = Resolucion.IdEstacion
	JOIN @Resoluciones Resoluciones ON Estaciones.[Guid] = Resoluciones.IdEstacion and Resolucion.tipo = Resoluciones.tipo

	INSERT INTO Resolucion([Guid],ConsecutivoInicial,ConsecutivoFinal,FechaInicial,FechaFinal,IdEstado,ConsecutivoActual,
						   Fecha,[IdEstacion],[Autorizacion],[Habilitada],[Descripcion],tipo)
	SELECT NEWID(),ConsecutivoInicial,ConsecutivoFinal,FechaInicial,FechaFinal,@idEstadoActivo,ConsecutivoInicial,
		   GETDATE(),Estaciones.Id,[Autorizacion],[Habilitada],[Descripcion],tipo 
	FROM @Resoluciones Resoluciones
	JOIN Estaciones
		ON Estaciones.[Guid] = Resoluciones.IdEstacion
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarOActualizarEstacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE [dbo].[AgregarOActualizarEstacion]
            @estaciones [dbo].[EstacionType] READONLY
        AS
        BEGIN
            SET NOCOUNT ON;

            DECLARE @estadoActivoId INT;

            SELECT @estadoActivoId = Id
            FROM Estados
            WHERE Texto = 'Activo';

            MERGE [dbo].[Estaciones] AS TARGET
            USING (
                SELECT [Guid], [linea1], [linea2], [linea3], [linea4], [Direccion],
                       [Nit], [Nombre], [Razon], [Telefono], [EsGas]
                FROM @estaciones
            ) AS Source ([Guid], [linea1], [linea2], [linea3], [linea4], [Direccion],
                         [Nit], [Nombre], [Razon], [Telefono], [EsGas])
            ON (Source.[Guid] = Target.[Guid])
            WHEN MATCHED THEN
                UPDATE SET
                    Target.[linea1] = Source.[linea1],
                    Target.[linea2] = Source.[linea2],
                    Target.[linea3] = Source.[linea3],
                    Target.[linea4] = Source.[linea4],
                    Target.[Direccion] = Source.[Direccion],
                    Target.[Nit] = Source.[Nit],
                    Target.[Nombre] = Source.[Nombre],
                    Target.[Razon] = Source.[Razon],
                    Target.[Telefono] = Source.[Telefono],
                    Target.[EsGas] = Source.[EsGas]
            WHEN NOT MATCHED BY TARGET THEN
                INSERT ([Guid], [linea1], [linea2], [linea3], [linea4], [Direccion],
                        [Nit], [Nombre], [Razon], [Telefono], [EsGas], [IdEstadoActual])
                VALUES (NEWID(), Source.[linea1], Source.[linea2], Source.[linea3], Source.[linea4], Source.[Direccion],
                        Source.[Nit], Source.[Nombre], Source.[Razon], Source.[Telefono], Source.[EsGas], @estadoActivoId);
        END;
    
GO
/****** Object:  StoredProcedure [dbo].[AnularResolucion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AnularResolucion]
	@resolucion uniqueidentifier
AS
BEGIN
	DECLARE @idEstadoAnulada INT, @idEstadoActivo INT, @idEstacion INT, @estacion UNIQUEIDENTIFIER
	
	SELECT @idEstadoAnulada = Estados.Id FROM Estados WHERE Texto = 'Anulada'

	UPDATE Resolucion SET IdEstado = @idEstadoAnulada
	From Resolucion
	where [guid] = @resolucion

	
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarEstacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BorrarEstacion]
	@Estaciones [dbo].[Entity] READONLY
AS
BEGIN
	DECLARE @IdEstadoBorrado INT;

	SELECT @IdEstadoBorrado = [Estados].Id FROM [dbo].[Estados] WHERE [Estados].Texto = 'Borrado'

	UPDATE Estaciones
		SET [Estaciones].[IdEstadoActual] = @IdEstadoBorrado
	FROM [dbo].[Estaciones] AS Estaciones
	JOIN @Estaciones AS EstacionTmp
		ON EstacionTmp.[Guid] = Estaciones.[Guid]
END
GO
/****** Object:  StoredProcedure [dbo].[GetCanastilla]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[GetCanastilla]
	@estacion UNIQUEIDENTIFIER = NULL
AS
BEGIN
	

	select [Guid],descripcion,unidad,precio,deleted, iva, campoextra, estacion
	from Canastilla
	where deleted = 0
	AND (@estacion IS NULL OR estacion = @estacion)

END
GO
/****** Object:  StoredProcedure [dbo].[GetCombustiblesEstacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE [dbo].[GetCombustiblesEstacion]
            @IdEstacion UNIQUEIDENTIFIER
        AS
        BEGIN
            SET NOCOUNT ON;

            SELECT c.[Combustible],
                   c.[Precio],
                   c.[EsGas],
                   c.[FechaActualizacion]
            FROM [dbo].[CombustiblesEstacion] c
            INNER JOIN [dbo].[Estaciones] e ON e.[Id] = c.[IdEstacion]
            WHERE e.[Guid] = @IdEstacion
            ORDER BY c.[Combustible];
        END;
    
GO
/****** Object:  StoredProcedure [dbo].[GetEmpleadosByNombre]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[GetEmpleadosByNombre]
(@Nombre varchar(50))
AS
BEGIN
declare @numeroActual int
	Select Nombre, Cedula from Vendedor where Nombre = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[GetEstacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE [dbo].[GetEstacion]
            @IdEstacion UNIQUEIDENTIFIER
        AS
        BEGIN
            SET NOCOUNT ON;

            SELECT [Estaciones].[Guid], [Estaciones].[Nit], [Estaciones].[Nombre], [Estaciones].[Direccion], [Estaciones].[Razon],
                   [Estaciones].[linea1], [Estaciones].[linea2], [Estaciones].[linea3], [Estaciones].[linea4], [Estaciones].[Telefono], [Estaciones].[EsGas]
            FROM [dbo].[Estaciones]
            WHERE [Estaciones].[Guid] = @IdEstacion;
        END;
    
GO
/****** Object:  StoredProcedure [dbo].[GetEstaciones]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE [dbo].[GetEstaciones]
        AS
        BEGIN
            SET NOCOUNT ON;

            DECLARE @estadoActivoId INT;

            SELECT @estadoActivoId = Id
            FROM Estados
            WHERE Texto = 'Activo';

            SELECT [Estaciones].[Guid], [Estaciones].[linea1], [Estaciones].[linea2], [Estaciones].[linea3], [Estaciones].[linea4],
                   [Estaciones].[Direccion], [Estaciones].[Nit], [Estaciones].[Nombre], [Estaciones].[Razon], [Estaciones].[Telefono],
                   [Estaciones].[EsGas], [Estaciones].[IdEstadoActual]
            FROM [dbo].[Estaciones]
            WHERE [Estaciones].[IdEstadoActual] = @estadoActivoId
            ORDER BY [Estaciones].[Id] DESC;
        END;
    
GO
/****** Object:  StoredProcedure [dbo].[getNumeration]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [dbo].[getNumeration]
(@Estacion uniqueidentifier)
AS
BEGIN
	Select [numeroActual],[resolucion] ,[prefijo],correo,token,idNumeracion from [facturaelectronica] where @Estacion = Estacion
END
GO
/****** Object:  StoredProcedure [dbo].[GetResolucionActiva]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetResolucionActiva]
	@estacion UNIQUEIDENTIFIER
AS
BEGIN
	DECLARE @idEstadoHabilitado INT, @idEstadoActivo INT, @idEstacion INT
	

	SELECT @idEstacion = Id FROM Estaciones WHERE Estaciones.Guid = @estacion
	
	SELECT @idEstadoActivo = Estados.Id FROM Estados WHERE Texto = 'Activo'
	SELECT @idEstadoHabilitado = Estados.Id  FROM Estados WHERE Texto = 'Habilitada'

	SELECT Resolucion.[Guid],ConsecutivoInicial,ConsecutivoFinal,FechaInicial,FechaFinal,Estados.[Guid] as IdEstado, Estados.Texto as Estado,ConsecutivoActual,
	Fecha,Estaciones.[Guid] as [IdEstacion],[Autorizacion],[Habilitada],[Descripcion],Resolucion.Tipo FROM Resolucion
	INNER JOIN Estaciones ON Estaciones.Id = Resolucion.IdEstacion
	INNER JOIN Estados ON Estados.Id = Resolucion.IdEstado
	WHERE Estaciones.Guid = @estacion
	AND (Resolucion.IdEstado = @idEstadoActivo OR Resolucion.IdEstado = @idEstadoHabilitado)
END
GO
/****** Object:  StoredProcedure [dbo].[GetTercero]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTercero]
	@IdTercero UNIQUEIDENTIFIER
AS
BEGIN
	SELECT idFacturacion,[Terceros].[Guid], Nombre, segundo, apellidos, tipoPersona, responsabilidadTributaria, Municipio, departamento,
	Direccion, PAis, codigoPostal, celular, Telefono, Telefono2, correo2, vendedor, comentarios, Correo, 
		   [Terceros].[TipoIdentificacion], [Terceros].[Identificacion],[Terceros].[IdLocal], TipoIdentificacion.Texto AS DescripcionTipoIdentificacion
	FROM [dbo].[Terceros]
	JOIN [dbo].TipoIdentificacion
		ON [Terceros].TipoIdentificacion = TipoIdentificacion.Id
	WHERE [Terceros].[Guid] = @IdTercero
END
GO
/****** Object:  StoredProcedure [dbo].[GetTerceros]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTerceros]
AS
BEGIN
	SELECT idFacturacion,[Terceros].[Guid], Nombre, segundo, apellidos, tipoPersona, responsabilidadTributaria, Municipio, departamento,
	Direccion, PAis, codigoPostal, celular, Telefono, Telefono2, correo2, vendedor, comentarios, Correo, 
		   [Terceros].[TipoIdentificacion], [Terceros].[Identificacion],[Terceros].[IdLocal], TipoIdentificacion.Texto AS DescripcionTipoIdentificacion
	FROM [dbo].[Terceros]
	JOIN [dbo].TipoIdentificacion
		ON [Terceros].TipoIdentificacion = TipoIdentificacion.Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetTercerosActualizados]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTercerosActualizados]
	@estacion UNIQUEIDENTIFIER = null
AS
BEGIN

DECLARE @idTerceroTable as table (idTercero int)



SELECT [Terceros].[Guid], Nombre, segundo, apellidos, tipoPersona, responsabilidadTributaria, Municipio, departamento,
	Direccion, PAis, codigoPostal, celular, Telefono, Telefono2, correo2, vendedor, comentarios, Correo, 
		   [Terceros].[TipoIdentificacion], [Terceros].[Identificacion],[Terceros].[IdLocal], TipoIdentificacion.Texto AS DescripcionTipoIdentificacion
	FROM [dbo].[Terceros]
	JOIN [dbo].TipoIdentificacion
		ON [Terceros].TipoIdentificacion = TipoIdentificacion.Id
	JOIN @idTerceroTable O ON o.idTercero = [Terceros].Id

END
GO
/****** Object:  StoredProcedure [dbo].[GetTipoIdentificacionIdByTexto]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTipoIdentificacionIdByTexto]
	@Texto nvarchar(200)
AS
BEGIN
	DECLARE @TipoIdentificacionID int
	select @TipoIdentificacionID = [Id]
	from [TipoIdentificacion]
	where Texto = @Texto
	If @TipoIdentificacionID is null
	Begin
	Insert into [TipoIdentificacion] ([Guid],Texto)
	values(NewID(), @Texto)

	select @TipoIdentificacionID = @@IDENTITY
	End
	SELECT @TipoIdentificacionID as TipoIdentificacionID
END
GO
/****** Object:  StoredProcedure [dbo].[GetTiposIdentificaciones]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTiposIdentificaciones]
	
AS
	Begin
		select Texto
		from [TipoIdentificacion]
	End
GO
/****** Object:  StoredProcedure [dbo].[GetUserByGuid]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByGuid]
	@Guid uniqueidentifier
AS
BEGIN
	SELECT Usuario.[Guid], Usuario.Nombre, Usuario.Usuario, Usuario.Contrasena
	FROM [dbo].[usuario] AS Usuario
	WHERE Usuario.Guid = @Guid
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserGuidByUserNPass]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserGuidByUserNPass]
	@Usuario nvarchar(250),
	@Contrasena nvarchar(MAX)
AS
BEGIN
	SELECT Usuario.[Guid], Usuario.Nombre, Usuario.Usuario, Usuario.Contrasena
	FROM [dbo].[usuario] AS Usuario
	WHERE Usuario.Usuario = @Usuario AND Usuario.Contrasena = @Contrasena
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsuarios]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsuarios]
AS
BEGIN
	SELECT [Guid], [Nombre], [Usuario], [Contrasena] 
	FROM [dbo].Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[HabilitarResolucion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HabilitarResolucion]
	@fechaVencimiento DateTime,
	@resolucion UNIQUEIDENTIFIER
AS
BEGIN
	DECLARE @idEstadoHabilitado INT, @idEstacion INT
	

	
	SELECT @idEstadoHabilitado = Id FROM Estados WHERE Texto = 'Habilitada'

	UPDATE Resolucion
		SET Resolucion.IdEstado = @idEstadoHabilitado,
		Resolucion.FechaFinal = @fechaVencimiento,
		Resolucion.Habilitada = 1
	FROM Resolucion
	WHERE Resolucion.[Guid] = @resolucion
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTerceroPorIdentificacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ObtenerTerceroPorIdentificacion](
@identificacion NVARCHAR(250))
AS BEGIN
SELECT [Terceros].[Guid], Nombre, segundo, apellidos, tipoPersona, responsabilidadTributaria, Municipio, departamento,
	Direccion, PAis, codigoPostal, celular, Telefono, Telefono2, correo2, vendedor, comentarios, Correo, 
		   [Terceros].[TipoIdentificacion], [Terceros].[Identificacion],[Terceros].[IdLocal], TipoIdentificacion.Texto AS DescripcionTipoIdentificacion,
		   terceros.idFacturacion
	FROM [dbo].[Terceros]
	JOIN [dbo].TipoIdentificacion
		ON [Terceros].TipoIdentificacion = TipoIdentificacion.Id
		where Terceros.Identificacion = @Identificacion
END
GO
/****** Object:  StoredProcedure [dbo].[SaveOrUpdateUser]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveOrUpdateUser]
	@Usuario dbo.[UsuarioType] readonly
AS
	BEGIN
		MERGE [dbo].[Usuario] AS Target
		USING (select [Guid], Nombre, Usuario, Contrasena FROM @Usuario)
			AS Source ([Guid],Nombre,Usuario,Contrasena)
		ON (Source.[Guid] = Target.[Guid])
		WHEN MATCHED THEN
			UPDATE SET Target.Nombre = Source.Nombre,
			Target.Usuario = Source.Usuario,
			Target.Contrasena = Source.Contrasena
		WHEN NOT MATCHED BY TARGET THEN
			INSERT ([Guid], [Nombre], [Usuario], [Contrasena])
			VALUES(Source.[Guid], Source.Nombre, Source.Usuario, Source.Contrasena);
	END
GO
/****** Object:  StoredProcedure [dbo].[SetIdFacturacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SetIdFacturacion]
(
@idFacturacion varchar(250),
@guid uniqueidentifier
)
AS
BEGIN
	Update Terceros
	set idFacturacion = @idFacturacion
	from terceros 
	where [GUID] = @guid

	
	return 0;
END
GO
/****** Object:  StoredProcedure [dbo].[setNumeration]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[setNumeration]
(@Estacion uniqueidentifier, @numeroActual int)
AS
BEGIN

	declare @prefijo NVARCHAR(50), @resolucion NVARCHAR(50)

	select @prefijo = prefijo, @resolucion=resolucion from [facturaelectronica] where @Estacion = Estacion

	update [facturaelectronica] set [numeroActual]=[numeroActual]+1 from [facturaelectronica] where @prefijo = prefijo and  @resolucion=resolucion 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrCreateCanastilla]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[UpdateOrCreateCanastilla]
	@canastillas dbo.[CanastillaType] READONLY
AS
BEGIN
	

	UPDATE Canastilla SET Canastilla.descripcion =  c.descripcion,
	Canastilla.unidad =  c.unidad,
	Canastilla.precio =  c.precio,
	Canastilla.deleted =  c.deleted,
	Canastilla.iva =  c.iva,
	Canastilla.campoextra =  c.campoextra,
	Canastilla.estacion =  c.estacion
		from @canastillas c
		inner join Canastilla on  Canastilla.[Guid] = c.[Guid]

	Insert into Canastilla([Guid],descripcion,unidad,precio,deleted,iva,campoextra,estacion)
	select NEWID(),c.descripcion,c.unidad,c.precio,0,c.iva,c.campoextra,c.estacion
	from @canastillas c
	left join Canastilla on  Canastilla.[Guid] = c.[Guid]
		where Canastilla.[Guid] is null

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrCreateTerceros]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[UpdateOrCreateTerceros]
	@Tercero dbo.[TerceroType] READONLY
AS
BEGIN
	Declare @IdTextoTipoIdentificcion as table(id int null, texto nvarchar(200) null)


	insert into @IdTextoTipoIdentificcion(id, texto)
	select Distinct TipoIdentificacion.Id,t.DescripcionTipoIdentificacion  FROM @Tercero t
	left join TipoIdentificacion ON TipoIdentificacion.Texto = t.DescripcionTipoIdentificacion

	insert into TipoIdentificacion([Guid],Texto)
	select NEWID(), texto
	from @IdTextoTipoIdentificcion
	where id is null

	UPDATE Terceros SET Terceros.Nombre =  isnull(Source.Nombre,'no informado'),
				   Terceros.segundo = isnull(Source.segundo,'no informado'),
				   Terceros.apellidos = isnull(Source.apellidos,'no informado'),
				   Terceros.tipoPersona = isnull(Source.tipoPersona,Terceros.TipoPersona),
				   Terceros.responsabilidadTributaria = isnull(Source.responsabilidadTributaria,Terceros.ResponsabilidadTributaria),
				   Terceros.Municipio = isnull(Source.Municipio,'no informado'),
				   Terceros.departamento = isnull(Source.departamento,'no informado'),
				   Terceros.Direccion = isnull(Source.Direccion,'no informado'),
				   Terceros.PAis = Source.PAis,
				   Terceros.codigoPostal = Source.codigoPostal,
				   Terceros.celular = Source.celular,
				   Terceros.Telefono = isnull(Source.Telefono,Terceros.Telefono),
				   Terceros.Telefono2 = Source.Telefono2,
				   Terceros.comentarios = Source.comentarios,
				   Terceros.vendedor = Source.vendedor,
				   Terceros.correo2 = isnull(Source.correo2,'no informado'),
				   Terceros.Correo = isnull(Source.Correo,'no informado'),
				   Terceros.IdLocal = Source.IdLocal,
				   Terceros.TipoIdentificacion = isnull(TipoIdentificacion.Id,1),
				   Terceros.IdFacturacion = isnull(source.IdFacturacion,Terceros.IdFacturacion)
		from [dbo].[Terceros] Terceros
		inner join  @Tercero source on Source.Identificacion = Terceros.Identificacion
		left join TipoIdentificacion ON TipoIdentificacion.Texto = source.DescripcionTipoIdentificacion
		 
		 INSERT into terceros([Guid], Nombre, segundo, apellidos, tipoPersona, responsabilidadTributaria, Municipio, departamento,
		Direccion, PAis, codigoPostal, celular, Telefono, Telefono2, correo2, vendedor, comentarios, Correo, TipoIdentificacion, Identificacion, IdLocal,IdFacturacion)
		select NEWID(),  isnull(Source.Nombre,'no informado'), isnull(Source.segundo,'no informado'),isnull(Source.apellidos,'no informado'),
		isnull(Source.tipoPersona,0),isnull(Source.responsabilidadTributaria,0),isnull(Source.Municipio,'no informado'),
		isnull(Source.departamento,'no informado'),isnull(Source.Direccion,'no informado'),Source.PAis,Source.codigoPostal,
		Source.celular,isnull(Source.Telefono,'no informado'),Source.Telefono2, Source.Correo2,Source.vendedor,Source.comentarios, Source.Correo, isnull(TipoIdentificacion.id,1), Source.Identificacion, Source.IdLocal, source.IdFacturacion
		from @Tercero source 
		left join terceros on Source.Identificacion = terceros.Identificacion
		left join TipoIdentificacion ON TipoIdentificacion.Texto = source.DescripcionTipoIdentificacion
		where terceros.Id is null

	
END

GO
/****** Object:  StoredProcedure [dbo].[UpsertCombustibleEstacion]    Script Date: 20/03/2026 1:47:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE PROCEDURE [dbo].[UpsertCombustibleEstacion]
            @IdEstacion UNIQUEIDENTIFIER,
            @Combustible NVARCHAR(100),
            @Precio DECIMAL(18,3),
            @EsGas BIT
        AS
        BEGIN
            SET NOCOUNT ON;

            DECLARE @IdEstacionInt INT;

            SELECT @IdEstacionInt = [Id]
            FROM [dbo].[Estaciones]
            WHERE [Guid] = @IdEstacion;

            IF @IdEstacionInt IS NULL
            BEGIN
                THROW 50001, 'No existe la estacion para el Guid enviado.', 1;
            END;

            MERGE [dbo].[CombustiblesEstacion] AS TARGET
            USING (
                SELECT @IdEstacionInt AS [IdEstacion],
                       LTRIM(RTRIM(@Combustible)) AS [Combustible],
                       @Precio AS [Precio],
                       @EsGas AS [EsGas]
            ) AS SOURCE
            ON TARGET.[IdEstacion] = SOURCE.[IdEstacion]
               AND TARGET.[Combustible] = SOURCE.[Combustible]
            WHEN MATCHED THEN
                UPDATE SET
                    TARGET.[Precio] = SOURCE.[Precio],
                    TARGET.[EsGas] = SOURCE.[EsGas],
                    TARGET.[FechaActualizacion] = GETDATE()
            WHEN NOT MATCHED BY TARGET THEN
                INSERT ([IdEstacion], [Combustible], [Precio], [EsGas], [FechaActualizacion])
                VALUES (SOURCE.[IdEstacion], SOURCE.[Combustible], SOURCE.[Precio], SOURCE.[EsGas], GETDATE());
        END;
    
GO
USE [master]
GO
